body {
    min-height: 470px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 100vh;
    background-color: $body-background-color;
    font-family: $font;
    cursor: url('/assets/images/pointer-1.svg'), auto;
}

#App {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    animation-name: backgroundColorTransition;
    animation-iteration-count: infinite;
    animation-duration: 25s;
}

.flex {
    display: flex;
}

.flex-full {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.block-full {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.padding-15 {
    padding: 15px;
}

.padding-side-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

/*
 * Specific styles for layout components
 * *************************************
 */

.application-wrapper {
    max-width: 1170px;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    padding-top: 75px;
    transition: all 0.7s;
}

.application-live-background {
    position: relative;
}

.controls-info-wrapper {
    position: relative;
    background-color: $box-background-color;
    transition: all 0.7s;
}

.content-edit-wrapper {
    margin: 40px 0;
    background-color: $box-background-color;
    padding: 40px;
    color: $dark-text-color;
    transition: all 0.7s;
}

.content-box-shadow {
    box-shadow: 0 0 55px -12px #707d86;
}

.content-title {
    flex: 0 0 100%;
    font-size: 24px;
}

.full-flex-box {
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
}
.loader-wrapper {
    height: 250px;
    width: 250px;
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50% - 125px);
    //transform: translateY(-50%) translateX(-50%);
    overflow: hidden;
    cursor: url('/assets/images/pointer-1.svg'), auto;

    &.main-loader {
        border-radius: 50%;
        animation-name: spinAroundCenter;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 7.5s;
        animation-fill-mode: forwards;
        box-shadow: 0 0 225px -25px red;
        transition: box-shadow .7s, transform .5s;
        transform-origin: center center;
    }

    &:hover {
        animation-play-state: paused;
        transform: scale(1.2);
        box-shadow: 0 0 125px 5px black;
    }
    .cover-loader {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #9d070740;
    }
}
.rotation-item {
    width: 100%;
    height: 100%;
    background-position: -3px -3px;
    background-size: 103% 103%;
}