.upload-image {}
.upload-image__cover {
	margin: 2px;
    border: 1px solid $image-button-color;
    border-radius: 2px;
    padding: 10px 25px;
    font-size: 16px;
    color: $image-button-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
        font-size: 20px;
        margin-right: 10px;
    }
}