$main-loader-size: 300px;
$image-size: 125px;

$font: 'Helvetica';

$box-background-color: white;
$body-background-color: #f4f8f9;
$input-background-color: #f6f7f9;
$hover-color: #007ee5;
$hover-background-color: #f3f4f6;
$image-button-color: #747d88;
$dark-text-color: #404549;
$text-color: #707d86;

$theme_1: #98E5E5;
$theme_2: #5DA7A7;
$theme_3: #337A7A;
$theme_4: #068989;
$theme_5: #219B9B;
$theme_6: #3EB4B4;
$theme_7: #106666;
$theme_8: #014E4E;
$success_1: #A6DEA0;
$success_3: #66A060;
$success_5: #4EA645;
$success_8: #2E8725;
$error_1: #FF8C74;
$error_3: #B06A5B;
$error_5: #DB4323;
$error_8: #AA2B10;
$background_1: #FBF7CE;
$background_2: #FFF8B7;
$background_4: #D3CC81;
$background_5: #D9CE5B;
$background_6: #877F36;
$background_7: #545130;
$background_8: #4A4837;
$dark_1: #B0B0A7;
$dark_4: #7E7E78;
$dark_6: #424745;
$dark_8: #11110F;